.btnReview {
  background-color: #2a0a5e;
  color: #fff;
  border: none;
  width: 9rem;
}

.btnCancel {
  width: 9rem;
}

.btnOwnership {
  background-color: #2a0a5e;
  color: #fff;
  border: none;
  font-size: 1.15rem;
}

@media (max-width: 768px) {
  #new-admin-pubkey {
    width: 100%;
    margin-bottom: 1rem;
  }

  .input-button-container {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}

.labelText {
  font-size: 1.2rem;
}
