.downloadWallet {
  display: inline-block;
}

@media (max-width: 600px) {
  .downloadWallet {
    display: none !important;
  }

  .navbar {
    justify-content: flex-start;
  }

  .navbar-start {
    order: 2;
  }

  .navbar-center {
    order: 3;
    display: none;
  }

  .navbar-end {
    order: 1;
    flex-grow: 1;
    justify-content: flex-start;
  }
}
