.campaignImage {
  max-width: 100%;
  height: auto;
}

.btnSupport {
  white-space: nowrap;
  padding: 0.5rem 2rem; 
  white-space: nowrap;
  background-color: #2a0a5e;
  color: #fff;
  border: none;
  
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.btnSupporters {
  margin: 0.5rem;
  text-align: center;
  padding: 10px 40px;
  min-width: 200px;
  background-color: #2a0a5e;
  color: #fff;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.cardActions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.inputButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputSupport {
  width: auto; 
  max-width: 100px; 
  margin-right: 1rem; 
}

@media (max-width: 600px) {
  .btnSupporters, .btnCancel, .btnSupport {
    width: 100%;
    margin: 0.25rem 0; 
  }

  .inputSupport {
    width: calc(100% - 2rem);
    margin: 0.25rem 0;
  }

  .inputButtonContainer {
    flex-direction: column;
  }

  .cardActions {
    flex-direction: column;
  }

  .buttonContainer, .cardBody, .campaignsView {
    padding: 0.5rem;
  }

  .cardTitle {
    font-size: 1.5rem;
  }

  .flex-justify-between {
    flex-direction: column;
  }
  .flex-1 {
    margin-bottom: 10px; /* Adds space between items when stacked on small screens */
  }
}

.btn:hover, .btn:focus {
  background-color: #3a1d6e; 
}

.desktop-only {
  display: none;
}

@media (min-width: 601px) {
  .desktop-only {
    display: block;
  }
}
