.drawer-side {
  z-index: 1000;
  margin-top: 60px;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.drawer-content {
  padding-top: 60px;
}

@media (max-width: 768px) {
  .drawer-toggle:checked ~ .drawer-content {
    margin-top: 60px;
  }
  .drawer-toggle:checked ~ .drawer-side {
    z-index: 1000;
    margin-top: 50px;
  }
}
