.btnCreate {
  background-color: #2a0a5e;
  color: #fff;
  border: none;
}

.centerContainer {
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.centerDurationGoal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.inputContainer {
  margin: auto;
  max-width: 60%;
}

.inputGoal {
  max-width: 15%;
  margin: 10px auto;
  margin-right: 5px; 
  padding: 5px; 
}

.inputDuration {
  max-width: 15%;
  margin: 10px auto;
  margin-left: 5px; 
  padding: 5px; 
}

@media (max-width: 768px) {
  .centerContainerTwo {
    flex-direction: column;
  }

  .inputGoal,
  .inputDuration {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0; 
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .inputContainer {
    max-width: 100%;
  }
}

.roundedCard {
  border-radius: 1.2rem;
}

.customTextarea {
  max-width: 95%;
  background-color: rgb(45, 46, 49);
  border-radius: 0.5rem; 
}

.inputDescription {
  padding: 10px;
  padding-left: 14px;
}