.donorsContainer {
  padding: 0;
  list-style: none;
  margin: 0;
}
.donorsCard {
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1.1rem;
  border: 1px solid #f5f5f5;
  max-width: 70%;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-height: 200px;
  overflow-y: auto; 
}

.donorsCard::-webkit-scrollbar {
  display: none;
}

.donorsCard {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.donorItem {
  padding: 8px;
  margin-bottom: 8px;
  word-break: break-word;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
}

.donorItem strong {
  font-weight: bold; /* This ensures the text is bold */
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  z-index: 10;
}


@media (max-width: 600px) {
  .donorItem {
    font-size: 0.8rem;
    padding: 4px;
    margin-bottom: 4px;
  }
}
